[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
numpy = "*"
keras = "*"
tensorflow = "==1.15.2"
pillow = "*"
matplotlib = "*"
imgaug = "*"
opencv-python = "*"
pascal-voc-writer = "*"

[requires]
python_version = "3.6"
